@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-image: linear-gradient(to right, pink, brown);

}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}
.imagem-header{
    width: 72px;
    height: 60px;
}

.menu{
    display: flex;
    gap: 32px;
    border-bottom: 0.4px solid rgb(87, 2, 65) ;
}

.cabecalho-item{
    font-family: 'Sarala', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 18px;
}
.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid white;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.navbar{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: rgb(165, 19, 67);
}

.conteudo-principal-subtitulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: darkred;
} 

.conteudo-principal-botao{
    background-color: pink;
    width: 185px;
    height: 67px;
    border: none;
    box-shadow: 4px 5px 6px rgb(192, 56, 158);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.imagem-principal{
    height: 430px;
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo{
    font-family: 'Righteous', cursive;
    color: rgb(109, 16, 55);
    padding-top: 48px;
    border-top: 0.4px solid white;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 16px;
}

.footer{
    padding: 32px;
    color: darkred;
    border-top: 0.4px solid white;

}
.conteudo-principal-botao:hover{
    background-color: rgb(209, 63, 165);
}
.sobre-titulo{
    font-family: 'Righteous' , cursive;
    margin-bottom: 16px;
    color: rgb(124, 9, 63);
    text-align: center;
}

.sobre-subtitulo{
    font-family: 'Sarala' , sans-serif;
    margin-bottom: 12px;
    color: rgb(124, 9, 63);
    text-align: center;
}

.texto-sobre{
    font-family: 'Sarala', sans-serif;
    font-size: 19px;
    text-align: center;

}

.imagem-sobre{
    height: 400px;
    padding-top: 50px;
    margin-bottom: 70px;
}

.fotos-titulo{
    font-family: 'Righteous' , cursive;
    margin-bottom: 16px;
    color: rgb(124, 9, 63);
    text-align: center;
}

.fotos-subtitulo{
    font-family: 'Sarala' , sans-serif;
    margin-bottom: 16px;
    color: rgb(124, 9, 63);
    text-align: center;
}

.contato-titulo{
    font-family: 'Righteous' , cursive;
    margin-bottom: 16px;
    color: rgb(124, 9, 63);
    text-align: center;
}

.contato-subtitulo{
    font-family: 'Sarala' , sans-serif;
    margin-bottom: 16px;
    color: rgb(124, 9, 63);
    text-align: center;
}

.input,textarea{
    width: 200px;
    padding: 10px;
    color:black;
    border-radius: 5px;

}

textarea{
    width: 300px;
    height: 120px;
    line-height: 20px;
    border-color: rgb(148, 4, 59);
    color: rgb(102, 8, 52);
    margin-bottom: 20px;
}

.nome{
    text-align: center;
    color: rgb(102, 8, 52);
    margin-bottom: 20px;
}

.email{
    text-align: center;
    color: rgb(102, 8, 52);
    margin-bottom: 20px;
}

.telefone{
    text-align: center;
    color: rgb(102, 8, 52);
    margin-bottom: 20px;
}

#button{
    background-color: pink;
    font-family: 'Sarala', sans-serif;
    color: rgb(128, 13, 47);
    height: 70%;
    width: 10%;
    border: none;
    box-shadow: 4px 5px 6px rgba(104, 4, 37, 0.534);
    border-radius: 20px;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 100px;


}

#slide{
    height: 400px;
    margin-bottom: 70px;
}